# Object files
*.o
#.lo
*.slo

# Dynamic libraries
*.so

# Static libraries
*.a
*.la
*.lai

# OS modules
*.ko

# Patch
ext3301-Makefile-prac.patch

# Commands
.*.cmd

# Test file system
500K.img

# Temp
.tmp_versions

# Compiled
Module.symvers
ext3301.mod.c
modules.order

# Eclipse
.project
.cproject
.settings/
